{% extends 'parsAndAnalitics/base_temp.html' %}

{% block title %}Конкурентный анализ по Москве{% endblock %}
{% block content %}
    <h1>Анализ конкурентной среды в МСК:</h1>
    <h3>Общее количество ресторанов в Москве {{ all_restaurants_in_Msc }}. Из них:</h3>
    <p>Burger King {{ bk_restaurants_in_Msc }} шт, что составляет {{ bk_all }} % от общего количества ресторанов.</p>
    <p>KFC {{ kfc_restaurants_in_Msc }} шт, что составляет {{ kfc_all }} % от общего количества ресторанов.</p>
    <p>McDonald`s {{ mcd_restaurants_in_Msc }} шт, что составляет {{ mcd_all }} % от общего количества ресторанов.</p>
    <p>Заметим, что, хоть разница между количеством открытых ресторанов не велика, лидером рынка является KFC.
        <br>Это означает что у KFC больше шанс "попасть на глаза" клиентам и лишний раз напомнить о себе. Также это означает, что точки доставки
        <br> расположены кучнее и вероятность, что ваш заказ прибудет холодным, меньше чем у других представителей рынка.
    </p>
{% endblock %}